body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 250px;
    margin: 0;
    font-family: 'VT323', monospace;
}



.inner-container {
    border-radius: 10px;
    margin: auto;
}

.invisible-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#token {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #333;
    border-radius: 5px;
    width: 100%;
}

#submit {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: #555;
}

.link-url {
    margin-top: 1em;
}

.link-url a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
}

.link-url a:hover {
    color: #555;
}